<div class="login-body">
  <div class="row m-0 login-area bg-light">
    <div class="col-md-6 col-lg-5 col-xxl-4 login-left bg-transparent">
      <div
        class="d-flex flex-column align-items-center justify-content-center h-100"
      >
        <div class="login-logo d-flex justify-content-center">
          <img src="assets/images/logo.png" alt="" />
        </div>
        <div class="login-logo-text d-flex flex-column">
          <span class="fs-3 text-center">Welcome to Genando</span>
          <small class="text-center"
            >Study each person's DNA to improve everyone's health</small
          >
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-7 col-xxl-8 login-right">
      <div
        class="d-flex flex-column align-items-center justify-content-center h-100 w-100"
      >
        <router-outlet></router-outlet>
      </div>
      <div class="info-login d-flex justify-content-end text-white">
        Email : genando@gmail.com
      </div>
    </div>
  </div>
</div>
