<div class="text-white login-box">
  <p class="login-header fs-2 m-0">Forgot Password</p>
  <form
    action=""
    class="d-flex flex-column"
    [formGroup]="forgotPasswordForm"
    (submit)="onSubmit()"
  >
    <app-input
      class="py-2"
      title="Email"
      type="email"
      className="rounded-pill px-4 py-2 fs-6"
      placeholder="Email Address"
      [parentForm]="forgotPasswordForm"
      controlName="email"
      [validationMsg]="emailValidationMsg"
    ></app-input>
    <app-button
      type="submit"
      label="SUBMIT"
      iconClass="bi bi-arrow-right"
      className="btn text-white rounded-pill my-3 px-4 submit-btn d-flex flex-row-reverse justify-content-between w-100 fs-6"
      title="Submit"
    ></app-button>
  </form>
  <div class="d-flex justify-content-end mx-2">
    <span class="cursor-pointer"
      ><a [routerLink]="loginUrl" class="text-decoration-none text-white"
        >Sign In</a
      ></span
    >
  </div>
</div>
