hr {
    color: #AFAFAF;
    margin-top: 1.8rem;
}

.questions p{
    font-weight: bold;
    color: #565656;
}

.questions span {
    font-size: 15px;
}

.lb-question{
    color: #359FC9;
}

textarea {
    font-size: 16px;
}
