.question-sr-no {
  color: rgb(82, 194, 243);
  font-weight: bold;
}
.question-sr-no,
.clinical-question {
  font-size: 18px;
  margin-bottom: 5px;
}
.clinical-question {
  font-weight: 500;
  color: rgb(78, 78, 78);
}
.main-clinical-path {
  background-color: #efefef;
}
.clinical-path-list {
  padding: 8px 20px;
  border-radius: 4px;
}
.clinical-path-buttons {
  width: fit-content;
}
.clinical-heading {
  color: rgb(6 102 143);
}
