.clinical-container {
  background-color: white;
  padding: 15px 30px;
}
.clinical-question-number {
  color: rgb(0, 179, 255);
  font-weight: bold;
  white-space: nowrap;
}
.clinical-question {
  font-weight: 550;
}
.clinical-answer-abrv {
  font-weight: bold;
}
.clinical-question-container {
  font-size: 20px;
}
.clinical-answer-container {
  font-size: 18px;
}
hr {
  color: #adadad;
}
